<!DOCTYPE html>
<html lang="en">
<head>
    <title>login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div>
    <form action="/login/commit" method="post">
        <input type="text" name="username">
        <input type="text" name="pwd">
        <input type="submit" value="submit">
    </form>
</div>
</body>
</html>
