<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>校园霸凌举报系统</title>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    body {
        background-size: cover;
        background:url("/images/lvye2.jpg")fixed center 0 no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
    }
    .footer {
        color: white;
        text-align: center;
    }

    div.footer a {
        color: white;
    }
    .navitems{
        margin-top: 22px;
        margin-left: 60px;
    }

    #title{
        /*background-color: darkseagreen;*/
        color: #CDBA96;
        margin-right: 19px;
        font-family: 方正粗黑宋简体;
    }

</style>
<body style="overflow-y:hidden">
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column" id="nav" style="position:fixed;top:0px;">
            <div  class="navbar-header" >
                <h1>
                    <strong><p id="title">校园霸凌举报系统</p></strong>
                </h1>
            </div>

            <div class="navitems">
                <ul class="nav nav-tabs" >
                    <li >
                        <a href="#" style="color:white">首页</a>
                    </li>
                    <li>
                        <a href="#" style="color:white">举报页</a>
                    </li>
                    <li class="active" >
                        <a href="#" >案例</a>
                    </li>
                    <li class="dropdown pull-right">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" style="color:white">个人<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">个人中心</a>
                            </li>
                            <li>
                                <a href="#">信息通知</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#">退出登录</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-4 column" style="position:fixed;margin-top:100px;width:300px">
                        <dl>
                            <dt style="font-size: x-large">
                                个人资料
                            </dt>
                            <dd>
                                A description list is perfect for defining terms.
                            </dd>
                            <dt>
                                用户id
                            </dt>
                            <dd>
                                <%= userid %>
                            </dd>
                            <dd>
                                Donec id elit non mi porta gravida at eget metus.
                            </dd>
                            <dt>
                                Malesuada porta
                            </dt>
                            <dd>
                                Etiam porta sem malesuada magna mollis euismod.
                            </dd>
                            <dt>
                                Felis euismod semper eget lacinia
                            </dt>
                            <dd>
                                Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-8 column" style="position:fixed;left:400px;top:80px;bottom:140px;overflow-y:auto">
                        <h2>
                            Heading
                        </h2>
                        <p>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                        </p>
                        <p>
                            <a class="btn" href="#">View details »</a>
                        </p>
                        <h2>
                            Heading
                        </h2>
                        <p>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                        </p>
                        <p>
                            <a class="btn" href="#">View details »</a>
                        </p>
                        <h2>
                            Heading
                        </h2>
                        <p>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                        </p>
                        <p>
                            <a class="btn" href="#">View details »</a>
                        </p>
                        <h2>
                            Heading
                        </h2>
                        <p>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                        </p>
                        <p>
                            <a class="btn" href="#">View details »</a>
                        </p>
                        <h2>
                            Heading
                        </h2>
                        <p>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                        </p>
                        <p>
                            <a class="btn" href="#">View details »</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer container-fluid" style="position:fixed;bottom: 2px;left:0;right:0;margin: auto">
        <div id="footer_div1">
            <a href="http://rsgis.whu.edu.cn/">遥感信息工程学院 </a>|&nbsp;
            <a href="http://www.whu.edu.cn/">武汉大学 </a>|&nbsp;
            <a href="http://www.lib.whu.edu.cn/web/default.asp">武汉大学图书馆 </a>|&nbsp;
            <a href="http://my.whu.edu.cn">信息门户</a>
        </div>
        <div id="footer_div2">
            <p>中国 湖北 武汉市 珞喻路129号 武汉大学信息学部</p><br>
            <p>空间信息与数字技术</p>
            <p>© 2019 </p>
        </div>
    </div><!--页脚-->
</div>

</body>
</html>