<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>校园霸凌举报系统</title>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/vue.js"></script>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    body {
        background-size: cover;
        background:url("/images/ivy6.jpg")fixed center 0 no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
    }
    .footer {
        color: white;
        text-align: center;
    }

    div.footer a {
        color: white;
    }
    .navitems{
        margin-top: 22px;
        margin-left: 60px;
    }
    #random{
        margin-top: 8px;
    }
    #search{
        margin-top: 18px;
    }
    #event{
        opacity: 0.8;
        background-color: white;
        margin-top: 22px;
    }
    #title{
        /*background-color: darkseagreen;*/
        color: #CDBA96;
        margin-right: 19px;
        font-family: 方正粗黑宋简体;
    }
</style>
<body>
<div id="app">
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column" id="nav">
            <div  class="navbar-header" >
                <h1>
                    <strong><p id="title">校园霸凌举报系统</p></strong>
                </h1>
            </div>

            <div class="navitems">
                <ul class="nav nav-tabs" >
                    <li >
                        <a href="#" style="color:white">首页</a>
                    </li>
                    <li>
                        <a href="#" style="color:white">举报页</a>
                    </li>
                    <li class="active" >
                        <a href="#" >案例</a>
                    </li>
                    <li class="dropdown pull-right">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" style="color:white">个人<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">个人中心</a>
                            </li>
                            <li>
                                <a href="#">信息通知</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#">退出登录</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <nav class="navbar navbar-default" role="navigation" id="search">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">案例查询</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#"> </a>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input class="form-control" type="text" id="key" v-model="keyword"/>
                </div>
            </form>
            <button class="btn btn-default" @click="keysearch()">搜索</button>
            <div class="nav navbar-nav navbar-right" id="random">
                <button class="btn btn-default">随机</button>
            </div>
        </div>

    </nav>

    <div class="row clearfix">
        <div class="col-md-12 column" id="event">
            <h2>
                案例1
            </h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
            {{shijian}}
            <div id="death"></div>
<!--            <div id="test" >-->
<!--            <div v-for="(m, index) in keysearch()" @click="xiangqing(m.id)" v-bind:key="m.id" v-if="shijianshow">-->
<!--                <div style="cursor: hand"><button>试一试</button></div>-->
<!--                {{index}}-{{m}}-->
<!--            </div>-->
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <ul class="pagination">
                <li>
                    <a href="#">Prev</a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="footer container-fluid">
    <div id="footer_div1">
        <a href="http://rsgis.whu.edu.cn/">遥感信息工程学院 </a>|&nbsp;
        <a href="http://www.whu.edu.cn/">武汉大学 </a>|&nbsp;
        <a href="http://www.lib.whu.edu.cn/web/default.asp">武汉大学图书馆 </a>|&nbsp;
        <a href="http://my.whu.edu.cn">信息门户</a>
    </div>
    <div id="footer_div2">
        <p>中国 湖北 武汉市 珞喻路129号 武汉大学信息学部</p><br>
        <p>空间信息与数字技术</p>
        <p>© 2019 </p>
    </div>
</div><!--页脚-->
</div>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            shijian: [],
            shijianshow:false,
            keyword:"",
        },
        watch: {
            shijian(newVal, oldVal) {
                // 监听 num 属性的数据变化
                // 作用 : 只要 num 的值发生变化,这个方法就会被调用
                // 第一个参数 : 新值
                // 第二个参数 : 旧值,之前的值
                console.log('oldVal:',oldVal)
                console.log('newVal:',newVal)
            }
        },
        methods: {
            xiangqing(id) {
                console.log("事件id为" + id);
                window.location.href = "http://localhost:3000/event/" + id;
            },

            keysearch() {
                console.log(this.keyword);
                $.ajax({
                    type: 'get', /*  请求方式  GET  、 POST 、 PUT 等.. */
                    url: 'http://47.98.164.4:8080/server/appeal/search_al?user_id=1615123447780013&keys=' + this.keyword, /*  后台的接口(findApi)  使用相对路径即可 */
                    dateType: 'json', /*  期望服务器返回的数据类型格式 */
                    // data:{
                    //     user_id:userid,
                    //     al_address:this.address,
                    //     al_pos:this.pos,
                    //     al_title:this.retitle,
                    //     al_detail:this.redetail,
                    //     handler:"1615123157287011",
                    //     last_al:eventid
                    // },
                    success: function (result) { // 请求后台 应答成功返回来的数据
                        this.shijian = result.data;
                        // for(let i in result.data){
                        //     this.shijian.push(i);
                        // }
                        console.log(this.shijian);
                        let inhtml="事件：<ul>";
                        for (i in this.shijian){
                            let href="/event/"+this.shijian[i].id;
                            inhtml+="<li>"+ this.shijian[i].id + "<a href=" +href+ ">跳转链接</a></li>";
                        }
                        inhtml+="</ul>";
                        document.getElementById("death").innerHTML=inhtml;
                    },
                    error: function (xhr, status, error) { // 请求失败运行的函数
                        console.log(error);
                    }
                })

            }
        }
    })
</script>
</body>
</html>